.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
}

.container h3 {
  color: #304ffe;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.container p {
  color: grey;
}

.createdAt {
  margin-top: 100px;
  display: flex;
  background-color: #304ffe18;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
}

.createdAt p {
  margin: 0;
  font-weight: 400;
  margin-left: 10px;
}

.createdAt span {
  color: #304ffe;
}

@media only screen and (max-width: 600px) {
  .container {
    text-align: center;
  }

  .container h2 {
    font-size: 1.5rem;
  }

  .container p {
    font-size: 1rem;
  }
}
